.see_also_block {
    width: 400px;
    border: 1px solid #73707d;
    position: fixed;
    left: -410px;
    bottom: 50px;
    box-shadow: 0px 0px 8px #333;
    z-index: 1000;
}

.see_also_block-header {
    border-bottom: 1px solid #fff;
    position: relative;
    background: #d2d1d9;
    background: -moz-linear-gradient(top, #d2d1d9 0%, #95929d 50%, #8e8b96 51%, #7f7d88 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d2d1d9), color-stop(50%, #95929d), color-stop(51%, #8e8b96), color-stop(100%, #7f7d88));
    background: -webkit-linear-gradient(top, #d2d1d9 0%, #95929d 50%, #8e8b96 51%, #7f7d88 100%);
    background: -o-linear-gradient(top, #d2d1d9 0%, #95929d 50%, #8e8b96 51%, #7f7d88 100%);
    background: -ms-linear-gradient(top, #d2d1d9 0%, #95929d 50%, #8e8b96 51%, #7f7d88 100%);
    background: linear-gradient(to bottom, #d2d1d9 0%, #95929d 50%, #8e8b96 51%, #7f7d88 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d2d1d9', endColorstr='#7f7d88', GradientType=0);
}

.see_also_block-header h3 {
    padding: 10px 25px;
    color: #fff;
}

.see_also_block-header button {
    position: absolute;
    top: 7px;
    cursor: pointer;
    line-height: 15px;
    text-shadow: 1px 1px #c6c5cb;
    right: 21px;
    padding: 3px 6px;
    border-radius: 4px;
    border: 1px solid #6e6b77;
    background: #e7e6eb;
    background: -moz-linear-gradient(top, #e7e6eb 0%, #bab7c0 46%, #aaa9b1 54%, #a8a6b1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e7e6eb), color-stop(46%, #bab7c0), color-stop(54%, #aaa9b1), color-stop(100%, #a8a6b1));
    background: -webkit-linear-gradient(top, #e7e6eb 0%, #bab7c0 46%, #aaa9b1 54%, #a8a6b1 100%);
    background: -o-linear-gradient(top, #e7e6eb 0%, #bab7c0 46%, #aaa9b1 54%, #a8a6b1 100%);
    background: -ms-linear-gradient(top, #e7e6eb 0%, #bab7c0 46%, #aaa9b1 54%, #a8a6b1 100%);
    background: linear-gradient(to bottom, #e7e6eb 0%, #bab7c0 46%, #aaa9b1 54%, #a8a6b1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e7e6eb', endColorstr='#a8a6b1', GradientType=0);
}

.see_also_block-content {
    padding: 18px;
    background: #d2d1d9;
    background: -moz-linear-gradient(top, #d2d1d9 0%, #b3b1be 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d2d1d9), color-stop(100%, #b3b1be));
    background: -webkit-linear-gradient(top, #d2d1d9 0%, #b3b1be 100%);
    background: -o-linear-gradient(top, #d2d1d9 0%, #b3b1be 100%);
    background: -ms-linear-gradient(top, #d2d1d9 0%, #b3b1be 100%);
    background: linear-gradient(to bottom, #d2d1d9 0%, #b3b1be 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d2d1d9', endColorstr='#b3b1be', GradientType=0);
=======
.see_also_block {width: 400px; border: 1px solid #73707d; position: fixed; left: -410px; bottom: 50px; box-shadow: 0px 0px 8px #333;z-index: 1000;}
.see_also_block-header { border-bottom: 1px solid #fff; position: relative;background: #d2d1d9;
	background: -moz-linear-gradient(top,  #d2d1d9 0%, #95929d 50%, #8e8b96 51%, #7f7d88 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d2d1d9), color-stop(50%,#95929d), color-stop(51%,#8e8b96), color-stop(100%,#7f7d88));
	background: -webkit-linear-gradient(top,  #d2d1d9 0%,#95929d 50%,#8e8b96 51%,#7f7d88 100%);
	background: -o-linear-gradient(top,  #d2d1d9 0%,#95929d 50%,#8e8b96 51%,#7f7d88 100%);
	background: -ms-linear-gradient(top,  #d2d1d9 0%,#95929d 50%,#8e8b96 51%,#7f7d88 100%);
	background: linear-gradient(to bottom,  #d2d1d9 0%,#95929d 50%,#8e8b96 51%,#7f7d88 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2d1d9', endColorstr='#7f7d88',GradientType=0 );
}
.see_also_block-header h3 {padding: 10px 25px; color: #fff;}
.see_also_block-header button {position: absolute; top: 7px; cursor: pointer; line-height: 15px; text-shadow: 1px 1px #c6c5cb; right: 21px; padding:3px 6px; border-radius: 4px; border: 1px solid #6e6b77;background: #e7e6eb;
	background: -moz-linear-gradient(top,  #e7e6eb 0%, #bab7c0 46%, #aaa9b1 54%, #a8a6b1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7e6eb), color-stop(46%,#bab7c0), color-stop(54%,#aaa9b1), color-stop(100%,#a8a6b1));
	background: -webkit-linear-gradient(top,  #e7e6eb 0%,#bab7c0 46%,#aaa9b1 54%,#a8a6b1 100%);
	background: -o-linear-gradient(top,  #e7e6eb 0%,#bab7c0 46%,#aaa9b1 54%,#a8a6b1 100%);
	background: -ms-linear-gradient(top,  #e7e6eb 0%,#bab7c0 46%,#aaa9b1 54%,#a8a6b1 100%);
	background: linear-gradient(to bottom,  #e7e6eb 0%,#bab7c0 46%,#aaa9b1 54%,#a8a6b1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e6eb', endColorstr='#a8a6b1',GradientType=0 );	
}
.see_also_block-content {padding: 18px; background: #d2d1d9;
	background: -moz-linear-gradient(top,  #d2d1d9 0%, #b3b1be 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d2d1d9), color-stop(100%,#b3b1be));
	background: -webkit-linear-gradient(top,  #d2d1d9 0%,#b3b1be 100%);
	background: -o-linear-gradient(top,  #d2d1d9 0%,#b3b1be 100%);
	background: -ms-linear-gradient(top,  #d2d1d9 0%,#b3b1be 100%);
	background: linear-gradient(to bottom,  #d2d1d9 0%,#b3b1be 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2d1d9', endColorstr='#b3b1be',GradientType=0 );
>>>>>>> 74e3476b5426c88eced582ba1199207316071e75
}
